:root {
    --Deep-Charcoal: #1A1A1B;/*(Backgrounds/Text)*/
    --Electric-Blue: #007BFF;/*(Primary Buttons/Links) */
    --Silver-Mist: #E2E8F0; /*(Borders/Secondary UI)*/
    --White: #FFFFFF; /*(Cards)*/ 
}